@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap");
body {
  background-color: #ececec;
}

.container {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  min-height: 500px;
  max-width: 900px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  background: -webkit-gradient(linear, right bottom, left top, from(#ff5e37), to(#dd9b77));
  background: linear-gradient(to top left, #ff5e37, #dd9b77);
  border-radius: 10px;
  position: absolute;
  right: 0;
  left: 0;
  margin: auto;
}

.list, .quote-generator {
  overflow: hidden;
  position: relative;
  border: #7e7e7e 2px solid;
  -webkit-box-shadow: 0 0 0 8px #f5f2e3, 0 0 0 9px #7e7e7e;
          box-shadow: 0 0 0 8px #f5f2e3, 0 0 0 9px #7e7e7e;
  color: #f5f5f5;
}

.btn {
  border: #7e7e7e 1px solid;
  -webkit-box-shadow: 0 0 0 4px #f5f2e3, 0 0 0 5px #7e7e7e;
          box-shadow: 0 0 0 4px #f5f2e3, 0 0 0 5px #7e7e7e;
  background-color: transparent;
  color: #f5f5f5;
  margin: 40px 10px;
  padding: 10px;
  border-radius: 15px;
  position: relative;
  top: 10%;
}

.btn:active {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

.randomQuote {
  border: #7e7e7e 1px solid;
  -webkit-box-shadow: 0 0 0 4px #f5f2e3, 0 0 0 5px #7e7e7e;
          box-shadow: 0 0 0 4px #f5f2e3, 0 0 0 5px #7e7e7e;
  background-color: transparent;
  color: #f5f5f5;
  margin: 40px 10px;
  padding: 10px;
  border-radius: 15px;
  margin: 20px;
  border-radius: 15px;
  padding: 10px;
}

.randomQuote:active {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

@media only screen and (max-width: 600px) {
  .container {
    max-width: 580px;
    max-height: 290px;
    padding: 3px;
    font-size: 10px;
  }
  .container .list-group {
    font-size: calc(7.7px);
  }
  .container .quote-generator {
    -webkit-box-shadow: 0 0 0 4px #f5f2e3, 0 0 0 5px #7e7e7e;
            box-shadow: 0 0 0 4px #f5f2e3, 0 0 0 5px #7e7e7e;
    width: 70%;
    margin: 10px;
  }
  .container .list {
    font-size: 10px;
    -webkit-box-shadow: 0 0 0 4px #f5f2e3, 0 0 0 5px #7e7e7e;
            box-shadow: 0 0 0 4px #f5f2e3, 0 0 0 5px #7e7e7e;
    width: 40%;
    margin: 10px;
  }
  .container .list .input {
    width: 90%;
  }
  .container .btn {
    -webkit-box-shadow: 0 0 0 2px #f5f2e3, 0 0 0 3px #7e7e7e;
            box-shadow: 0 0 0 2px #f5f2e3, 0 0 0 3px #7e7e7e;
    padding: 5px;
    font-size: 10px;
    margin: 10px 5px;
  }
  .container .randomQuote {
    -webkit-box-shadow: 0 0 0 2px #f5f2e3, 0 0 0 3px #7e7e7e;
            box-shadow: 0 0 0 2px #f5f2e3, 0 0 0 3px #7e7e7e;
    padding: 5px;
    font-size: 12px;
  }
}

@media only screen and (max-width: 768px) {
  .container .list {
    -webkit-box-shadow: 0 0 0 6px #f5f2e3, 0 0 0 7px #7e7e7e;
            box-shadow: 0 0 0 6px #f5f2e3, 0 0 0 7px #7e7e7e;
    width: 40%;
    margin: 10px;
  }
  .container .list .input {
    width: 90%;
  }
  .container .quote-generator {
    -webkit-box-shadow: 0 0 0 6px #f5f2e3, 0 0 0 7px #7e7e7e;
            box-shadow: 0 0 0 6px #f5f2e3, 0 0 0 7px #7e7e7e;
    width: 70%;
    margin: 10px;
  }
}

.list {
  min-height: 200px;
  width: 30%;
  border-radius: 5px;
  padding: 10px;
  margin: 15px 50px;
  font-size: 13px;
}

.list .list-group {
  max-width: 200px;
  padding: 20px;
  position: relative;
  overflow: hidden;
  text-align: justify;
}

.quote-generator {
  width: 45%;
  text-align: center;
  margin: 15px 50px;
  border-radius: 5px;
  font-weight: bold;
}

.quote-generator .txt {
  position: relative;
  top: 5%;
  overflow: hidden;
  padding: 0 10px;
}
/*# sourceMappingURL=style.css.map */