@import "variables";

@mixin btnProperties {
  border: $primary-color 1px solid;
  box-shadow: $shadow-style-btn;
  background-color: transparent;
  color: $secondary-color;
  margin: 40px 10px;
  padding: 10px;
  border-radius: 15px;

  &:active {
    transform: translateY(2px);
  }
}

.btn {
  @include btnProperties();
  position: relative;
  top: 10%;
}

.randomQuote {
  @include btnProperties();
  margin: 20px;
  border-radius: 15px;
  padding: 10px;
}
