@import "config";
@import "buttons";
@import "variables";
@import "responsive";

.list {
  @extend %mutual;
  min-height: 200px;
  width: 30%;
  border-radius: 5px;
  padding: 10px;
  margin: 15px 50px;
  font-size: 13px;

  .list-group {
    max-width: 200px;
    padding: 20px;
    position: relative;
    overflow: hidden;
    text-align: justify;
  }
}

.quote-generator {
  @extend %mutual;
  width: 45%;
  text-align: center;
  margin: 15px 50px;
  border-radius: 5px;
  font-weight: bold;

  .txt {
    position: relative;
    top: 5%;
    overflow: hidden;
    padding: 0 10px;
  }
}
