$primary-color: #7e7e7e;
$secondary-color: #f5f5f5;
$shadow-style: 0 0 0 8px #f5f2e3, 0 0 0 9px #7e7e7e;
$shadow-style-btn: 0 0 0 4px #f5f2e3, 0 0 0 5px #7e7e7e;
$shadow-style-btn-small: 0 0 0 2px #f5f2e3, 0 0 0 3px #7e7e7e;
